<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}InfoDesk Preferences
			{% endblock %}
		</title>
		<meta name="robots" content="noindex">
		<link rel="shortcut icon" type="image/jpg" href="{{ asset('media/favicon/favicon.ico') }}"/>
		<link href="{{ asset('css/Bootstrap.css') }}" rel="stylesheet"/>
		<link href="{{ asset('css/Main.css') }}" rel="stylesheet"/>
		<script src="{{ asset('js/showNews.js') }}"></script>
		{% block body %}
		<body onload="getNews()">
		<div id="banner"></div>
			<div class="container" >
					{% include('gui/header/header.html.twig') %}
				<div class="container-fluid">
				
					<div class="row">

						{% include('gui/navigation.html.twig') %}

						<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
							<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
								<h1 class="h2">Overview</h1>
								<h5>You find all available news here</h5>
							</div>
							<div id="newsOverview">
								<p>You can find all available news here. If you see an empty page, there is no new yet. You can add them <a href="/gui">here</a></p>
							</div>
						</main>
					</head>
				</html>
			</div>
			<script src="{{ asset('js/banner.js') }}"></script>
		</body>
	</html>
</div></div>
{% endblock %}</head></html>
