<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}InfoDesk Preferences
			{% endblock %}
		</title>
		<meta name="robots" content="noindex">
		<link rel="shortcut icon" type="image/jpg" href="{{ asset('media/favicon/favicon.ico') }}"/>
		<link href="{{ asset('css/Bootstrap.css') }}" rel="stylesheet"/>
		<link href="{{ asset('css/Main.css') }}" rel="stylesheet"/>
		{% block body %}
		<body onload="javascript:showUsers()">
			<div class="container" >
					{% include('gui/header/header.html.twig') %}

				<div class="container-fluid">
					<div class="row">
						
						{% include('gui/navigation.html.twig') %}

						<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
							<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
								<h1 class="h2">Users</h1>
								<h5>You find all available users here</h5>
							</div>
							
						<div class="col">
							<div>
								<p>Please note: If you delete all administrators you will have no access to this page.</p>
							</div>
							<div>
								<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#createUserModal">Add new user</button>
							</div>
						</div>
							<div id="users" class="users">
						</div>
						
							<!-- Start of modal for changing password --> 
							<!-- Modal -->
							<div>
							<div class="modal hide fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel" aria-hidden="true" style="display: none;">
								<div class="modal-dialog modal-dialog-centered">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="changePasswordModalLabel">Change password</h5>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body">
											<div class="modalDiv">
												<form onsubmit="changePassword()">
													<label for="newPassword">Password</label>
													<input id="newPassword" type="password" name="password"></input>
													<br>
													<label for="newPasswordRepeat">Repeat password</label>
													<input id="newPasswordRepeat" type="password" name="password"></input>
													<div>
														<p class="hidden" id="hidden">Password does not match</p>
													</div>
										<div id="modal-footer" class="modal-footer">
										<button id="btnChange" type="submit" class="btn btn-primary" disabled>Save changes</button>
										</div>
												</form>
											</div>
									</div>
								</div>
							</div>
							</div>
							<!-- End of changing password -->
							
							<!-- Start of modal for creating user --> 
							<!-- Modal -->
							<div>
							<div class="modal hide fade" id="createUserModal" tabindex="-1" aria-labelledby="createUserModalLabel" aria-hidden="true" style="display: none;">
								<div class="modal-dialog modal-dialog-centered">
									<div class="modal-content">
										<div class="modal-header">
										<h5 class="modal-title" id="createUserModalLabel">Create a new user</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
										<div class="modalDiv">
									
											<label for="email">Email-Address</label><br>
											<input id="useremail" type="email" minlength="2" name="email"></input>
											<br>
											<label for="password">Create password</label><br>
											<input id="password" type="password" minlength="2" name="password"></input>
											<select id="role" class="form-select" aria-label="role">
												<option value="ROLE_ADMIN">Administrator</option>
												<option value="ROLE_EDITOR">Editor</option>
											</select>
									</div>	
									</div>
									<div>		
										<div id="modal-footer" class="modal-footer">
												<button id="btnCreate" type="button" class="btn btn-primary" onClick="createUser()" >Create user</button>
										
										</div>
									</div>
								</div>
							</div>
							</div>
							<!-- End of changing password -->
							</div>
							
						</div>
						
						</main>
						
						</div>
						</div>
			<script src="{{ asset('js/bootstrap/popper.min.js') }}"></script><script src="{{ asset('js/bootstrap/bootstrap.min.js') }}"></script><script src="{{ asset('js/users.js') }}"></script>
		</body>
{% endblock %}</head></html>
